<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.books">

    <!-- 隐私权限 -->
    <!-- SD卡的读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于访问GPS定位 获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- 普通权限 -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 电源管理 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".activity.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_blue"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_blue"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 启动页面 -->
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.MainActivity" />
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.register.RegisterActivity" />
        <activity android:name=".activity.students.ui.StudenMainActivity" />
        <activity android:name=".activity.students.ui.StudenADDActivity" />
        <activity android:name=".activity.booksmanagement.ui.BooksMainActivity"></activity>
        <activity android:name=".activity.user.UserChooseActivity" />

    </application>

</manifest>